<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="css/loginstyle.css">
</head>
<body>
  <div class="wrapper">
    <form action="#">
      <h2>Reset Password</h2>
        <div class="input-field">
        <input type="text" required>
        <label>Enter your email</label>
      </div>
	  
	    <div class="input-field">
	     <input type="text" required>
	     <label>Enter new password</label>
	    </div>
	
	  <div class="input-field">
	     <input type="text" required>
	     <label>Confirm password</label>
	  </div>
			
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>